<mat-form-field class="full-width" @transformFromBelowEnterTrigger @opacityLeaveTrigger *ngIf="isPasswordFormField | async">
    <input type="text" 
    matInput 
    placeholder="Password"
    [formControl]="passwordFormControl"
    [errorStateMatcher]="errorStateMatcher"
    [(ngModel)]="password" >
    <button mat-button (click)="submit()" matSuffix>submit</button>
    <div class="spinner-border text-light spinner-border-sm" *ngIf="isFetchPassword | async"  matSuffix></div>
    <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('backend')">
        {{ fetchPasswordError | async }}
    </mat-error>
    
</mat-form-field>