<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="texts">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>texts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contacts">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="anonymous">
      <ion-icon name="eye-off-outline"></ion-icon>
      <ion-label>anonymous</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>