
.full-width {
    width: 100%;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
input[type="number"] {
-moz-appearance: textfield;
}
.ion-avatar  { 
  margin: auto;    
  width: 100% !important;  
  height: 100% !important;  
  max-width: 200px !important;  //any size
  max-height: 200px !important; //any size 
}
.border-back-less {
  background-color: transparent;
  border-color: transparent;
}