<mat-form-field class="full-width" *ngIf="isLogin | async" @transformFromAboveEnterTrigger @transformToLeftLeaveTrigger>
  <input type="text" placeholder="E-Mail" matInput [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="errorStateMatcher">
</mat-form-field>
<mat-form-field class="full-width" *ngIf="isLogin | async" @transformFromBelowEnterTrigger @transformToRightLeaveTrigger>
  <input type="password" placeholder="Password" matInput [(ngModel)]="password" [formControl]="passwordFormControl" [errorStateMatcher]="errorStateMatcher">
  <mat-error *ngIf="passwordFormControl.hasError('backend')">Invalid combination</mat-error>
  <button mat-button matSuffix (click)="login()">login</button>
</mat-form-field>
<button mat-button routerLink="/forgot" *ngIf="isLogin | async" @transformFromBelowEnterTrigger @opacityLeaveTrigger>Forgot your password?</button>
